/* ==========================================
   BACK TO TOP
========================================== */

.back-to-top {
  position: fixed;

  right: 30px;
  bottom: 30px;

  width: 55px;
  height: 55px;

  border: none;
  border-radius: 50%;

  background: var(--primary-color);
  color: white;

  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  box-shadow: var(--shadow-lg);

  opacity: 0;
  visibility: hidden;

  transform: translateY(20px);

  transition: all .35s ease;

  z-index: 999;
}

.back-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.back-to-top:hover {
  transform: translateY(-8px);
  background: var(--primary-hover);
}

@media (max-width:768px) {

  .back-to-top {

    width: 48px;
    height: 48px;

    right: 18px;
    bottom: 18px;

    font-size: 1rem;

  }

}